<% provide(:title, "About") %>

<div class="well">
  <h1>About</h1><br>

The POWER SHOP is a descendent of the 2009-2014 DRIFTWOLRD website that served as a curation 3000+ photos of the very best styled drift cars from all over the wolrd. In an age of rampant fake parts and ugly pro drift cars, DRIFTWOLRD kept the spirit of Japanese grass roots drifting alive. The name comes from the now defunct drift centered Battle Magazine that featured an advertisement in the back pages that read "DRIFT the WOLRD" next to pictures of shiny new body kits. The DRIFTWOLRD name and its spelling error immediately just stuck. <br><br> 

The DRIFTWOLRD YouTube channel curated a complete collection of every Video Option drifting related release from old VHS tapes. Naturally, with the rise of popularity to the top charts of YouTube's automotive section in Japan, Video Option issued a cease-and-desist to stop conducting the activity. In that moment, access to an important part of drifting culture previously unseen to the rest of the wolrd... vanished. Luckily by that time, the campaign to spread early Japanese street racing culture had spread like fire. Today, the amount of incredibly stylish drift cars popping up across the globe is astonishing. Five years ago drifting was still relatively niche, let alone the style culture that surrounded it. 

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/dwolrd.png"></iframe>
</div>

With the uprise of social media, the need to spread good style drift cars died out. After years of absence, how could D-WOLRD once again impact drifting? The POWER SHOP is a product of a deep love for Japanese cars and the addiction to buying cool parts to build the ultimate king of dope machine.  The POWER SHOP sets out to simplify the way we acquire those to-die-for parts. <br><br>

The POWER SHOP uses Stripe to process payments by connecting users with each other with a simplified checkout that doesn't require off boarding from the site. Stripe does not charge extra for international purchases, opening the martketplace to a wider reach of users. 

D-WOLRD: POWER SHOP charges a 6% commission to sellers plus Stripe's fee of 2.9% + 30 cents whenever an item is sold. The POWER SHOP is always free for buyers.

Use the POWER SHOP to find rare JDM parts from the shops you love!<br><br>

<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a></p>

</div>
