<% provide(:title, "About") %>

<div class="well">
  <h1>About</h1><br>
<div style="font-size:18px">

The POWER SHOP is the outgrowth of a deep love for Japanese cars and the addiction to buying rare parts to build the ultimate King of Dope machine.  The POWER SHOP sets out to simplify the way we acquire those to-die-for parts. Our goal is to unite the community and eliminate the hassle of finding or selling parts. It's hard enough trying to sift through Yahoo Auctions Japan, out-dated PHP car forums, or getting lucky on social media to make your build a reality. Sell your parts, stack some dough, buy cooler parts, and then <a href="http://www.showup-asahi.com/">do a sick burnout in your driveway</a>.  <br><br>
<center>
Start using the D-WOLRD: POWER SHOP to find rare JDM parts from the shops you love!<br><br>

</center>
<center>
<p><a class="btn btn-info btn-lg" href="https://www.d-wolrd.com/users/sign_up" role="button">Sign up!</a></p>
</center>

<h2>Rules</h2>

No fake parts.<br>
No scammers.<br>
No spamming.<br>
No harassment.<br>
No crooked bullshit.<br><br>

Users breaking these rules will be banned without further consideration. <br><br>
Please report all suspect behavior to <a href="mailto:info@d-wolrd.com">info@d-wolrd.com</a>.<br><br>

<h2>Powered by PayPal</h2>

The POWER SHOP uses PayPal to process payments by connecting users with each other through PayPal's Express Checkout. This is the number one payment processor used by car enthusiasts which will allow access to a large customer and seller base. Please review the User Agreement for PayPal Service <a href="https://www.paypal.com/va/webapps/mpp/ua/useragreement-full">here</a>.
<br><br>

<h2>Cost</h2>

D-WOLRD: POWER SHOP charges a low seller commission of 6% plus Stripe's fee of 2.9% + 30 cents per transaction whenever an item is sold. PayPal charges 4.4% + 30 cents when either the buyer or seller are international.<br><br> Transactions are always free for buyers.<br><br>

<h2>Protection</h2>

The POWER SHOP is protected from fraudualant transactions by PayPal Buyer and Seller Protection. To qualify for protection with PayPal, all sellers must ship to a confirmed address with tracking number. PayPal's protection program will reimburse you for the entire order including shipping as long as you are able to provide evidence that supports your claim. D-WORLD will assist all buyers and sellers through out the dispute process. In the rare case if you are unsuccessful with disputing through PayPal, you are protected by D-WOLRD, send us your claim and we will happily review the case to ensure the affected party is refunded.<br><br>

Transactions made regarding an item that was posted for sale on D-WOLRD: POWER SHOP off site are not covered by any sort of protection. It is common for scammers to offer a discount on the asking price to get users to purchase outside of the D-WOLRD system. Users attempting this kind of transaction are almost always fraudulent. Offsite transactions will be in no way eligible for protection on your item from D-WOLRD and may not be eligible for PayPal protection. If you receives offers to complete a transaction offsite please report the user to us, who will be warned and banned if continued. <br><br>

We take the security of your personal information very seriously and all transactions are conducted through a <a href="https://vimeo.com/135666049">secure SSL connection</a> which encrypts all information passed to the server by the user. All payments through PayPal are performed offsite which means D-WOLRD does not store any of your financial data. You can read more about PayPal's safety and security documentation <a href="https://www.paypal.com/va/webapps/mpp/paypal-safety-and-security"> here</a>.<br><br>

<h2>Support</h2>

Not sure how to start selling? Encountered a bug? Got a hot suggestion? Account issues? Low ballers driving you crazy? Car too high?<br><br>

Let us know your concerns by shooting an e-mail to <a href="mailto:info@d-wolrd.com">info@d-wolrd.com</a> and we'll get back to you as quickly as possible.<br><br>

</div>

</div>
