<% @item.comments.each do |comment| %>
	<b><%= link_to comment.user.username, user_path(comment.user.id) %> said... </b> <%= comment.body %>
    <p class="small"><%= time_ago_in_words(@item.created_at) %> ago</p>
<% end %>

