<%= form_for([@item, @item.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "add a comment" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
