<h1>My Garage</h1>
      <% current_user.items.each do |item| %>
      <% if item.order.present? %>
        <% else %>
          <div class="col-md-3">
            <%= link_to(filepicker_image_tag(item.filepicker_url.split(",").last, w: 200, h: 200, fit: 'crop'), item) %><br>
            <p class="bold"><%= item.title %><br></p>
            <p><%= link_to number_to_currency(item.price), item %></p>
            <p class="small"><%= time_ago_in_words(item.created_at) %> ago</p>
          </div> 
        <% end %> 
      <% end %>
<br>